.navbar {
    background-color: rgb(207, 200, 105);
    border-color: #E7E7E7;
}

.bg {
    background-image: url("../images/beer.jpg");
    padding: 100px;
    margin: 100px;
    padding-top: 1rem; }
    