.navbar {
    background-color: rgb(160, 103, 224);
    border-color: #E7E7E7;
}

.bg {
    background-image: url("../images/beer.jpg"), center, no-repeat;
    padding: 100%;
    margin: none;
    height: auto;
    padding-top: 1rem; }

.crunchify-rating {
    overflow: hidden;
    margin-bottom: 35px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    font-size: 16px;
    color: #333;
    padding: 30px 60px 5px;
    background: #fff;
    border-left: 2px solid #157BDA;
}
.crunchify-rating:before {
    content: "Rating"!important;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    margin: 2px 15px 15px 0;
    background: #157BDA;
    padding: 0px 20px;
    border-radius: 30px;
}