{% extends 'base.html' %} {% block content %}

<div class="addreviewcontainer">
    <h3 class="m-5 headingaddreview">Add category</h3>
        
        <!-- This form is connected with Mongodb -->
        <form action="{{ url_for('insert_category') }}" method = "POST" class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ">
            <div class="form-row addreview">
                <div class="form-group col-sm-12 col-md-12">
                    <label for="category">Chose your beer!</label>
                    <input type="text" name="category_name" id="category_name">
                </div>
                <button type="submit" class="btn btn-primary">Add beer!</button>
            </div>
        </form>
</div>
{% endblock %}