{% extends 'base.html' %} {% block content %}

<div class="addreviewcontainer">
    <h3>Add Review</h3>
    
        <form action="{{ url_for('insert_review') }}" method="POST" class="col-xs-12 col-sm-6  addreview">
            <div class="row">
                <div class="form-group">
                    <i class="fa fa-beer"></i>
                    <select id="category" name="category_name" class="form-control">
                        <option value="" disabled selected>Choose your option</option>
                        {% for cat in categories %}
                        <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label>Choose your beer!</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <i class="fa fa-file-alt"></i>
                    <input id="name" name="name" type="text" class="validate">
                    <label for="icon_prefix">Your Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <i class="fas fa-pen"></i>
                    <label for="textreview">Review</label>
                    <textarea id="textreview" name="review" class="form-control" rows="3"></textarea>
                    
                </div>
           
                    
            
            <div class="row">
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox" id="is_urgent" name="is_urgent">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="row">
                
                
                <button type="submit" name="action" class="btn btn-outline-primary">Add a Review<i class="material-icons right">send</i></button>
            </div>
    
        </form>
</div>
        <form class="col-6">
            <div class="form-row addreview">
                <div class="form-group col-12">
                    <label for="fname">Fist Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="First Name">
                </div>
                
                <div class="form-group col-12">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                
            
            <div class="form-group col-12">

                    <label for="exampleFormControlTextarea1">Let's talk!</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
           
                <button type="submit" class="btn btn-primary">Add a Review</button>
        </form>

{% endblock %}