{% extends 'base.html' %} {% block content %}

<div class="addreviewcontainer">
    <h3 class="m-5 headingaddreview">Share your experience with us!</h3>
        
        <!-- This form is connected with Mongodb -->
        <form action="{{ url_for('insert_review') }}" method="POST" class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ">
            <div class="form-row addreview">
                <div class="form-group col-12 col-md-12 ">
                    <label for="fname">Your Name</label>
                    <input type="text" class="form-control validate" id="name" name="name" placeholder="Your Name">
                </div>
                <div class="form-group col-12 col-md-12 ">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-sm-12 col-md-12">
                    <label for="category">Chose your beer!</label>
                    <select id="category" name="category_name" class="form-control">
                        <option value="" disabled selected>Select a beer</option>
                        {% for cat in categories %}
                        <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="textreview">Add a review!</label>
                    <textarea class="form-control" id="textreview" name="review" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add a Review</button>
            </div>
        </form>
</div>
{% endblock %}