{% extends 'base.html' %} {% block content %}

<div class="addreviewcontainer">
    <h3 class="m-5 headingaddreview">Edit experience!</h3>
        
        <!-- This form is connected with Mongodb -->
        <form action="{{ url_for('insert_review') }}" method="POST" class="col-xs-12 col-sm-12 col-md-6 col-lg-5 ">
            <div class="form-row addreview">
                <div class="form-group col-12 col-md-12 ">
                    <label for="fname">Your Name</label>
                    <input type="text" class="form-control validate" id="name" name="name" placeholder="Your Name" value="{{ review.name}}">
                </div>
                <div class="form-group col-12 col-md-12 ">
                    <label for="date">When did you have your experience</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{ review.date}}">
                </div>
                <div class="form-group col-sm-12 col-md-12">
                    <label for="category">Chose your beer!</label>
                    <select id="category" name="category_name" class="form-control">
                        <option value="" disabled selected>Select a beer</option>
                        {% for cat in categories %}
                            {% if cat.category_name == review.category_name %}
                        <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
                            {% else  %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="textreview">Add a review!</label>
                    <textarea class="form-control" id="textreview" name="review" rows="3" value="">{{review.review}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add a Review</button>
            </div>
        </form>
</div>
{% endblock %}
        