{% extends 'base.html' %}
{% block content %}



    
    <div class="container-fluid">
        <img src="../static/images/beer2.jpg" class="img">
        <div class="text-block">
            <p>we are proud to offer meetings and experiences</p>
            <h4>Manguezal Club</h4>
            <button type="button" class="btn btn-primary">Share experience</button>
            
        </div>
    </div>
    <div class="row ingr mb-0">
        <div class="col-md-4 col-sm-6 col-xs-12">
            
            <h2>Grain</h1>
            <p>mostly malted barley but also other grains</p>
            <img src="../static/images/grain.jpg" class="imagens">
            
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>Hops</h1>
            <p>grown in many different varieties</p>
            <img src="../static/images/hops.jpg" class="imagens">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">

            <h2>Yeast</h1>
            <p>responsible for fermentation; based on style-specific strains</p>
            <img src="../static/images/yeast.jpg" class="imagens">
        </div>
    </div>
    <div class="parallax">
    
    </div>
   
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">About</h1>
            <p class="lead">O Manguezal é um ecossistema de transição entre os ambientes terrestre e marinho, famoso pelo caráter enlamaçado e 
            plantas de raízes expostas e tortas. Devido ao seu aspecto, a importância de sua biodiversidade foi ignorada por anos e cidades como 
            o Recife não pensaram duas vezes em aterrar seus mangues para construir casas e prédios ao longo dos anos. Com o passar do tempo, essa 
            perspectiva mudou e hoje os manguezais são protegidos por lei e até servem de inspiração para movimentos culturais, 
            como o Mangue Beat encabeçado pelo saudoso Chico Science. Esse ecossistema também serviu de inspiração para uma cervejaria de Pernambuco, a Manguezal.<br/>
            
            <br/>
            Em meados de 2014 os sócios Gabriel Suassuna, Lucas Sampaio, Roberto Moretti e Eduardo Antunes produziam cerveja em Olinda, 
        localizada no Grande Recife, para consumo próprio e já pensavam em um nome que tivesse relação com a cultura da região. Organizavam
        encontros com amigos numa casa localizada no bairro de Apipucos (bastante cercado por mangues), em Recife, para beber cerveja caseira, 
        comer comida boa e jogar conversa fora. Nesse meio tempo, surgiu a ideia de batizar a cervejaria como Manguezal, e os primeiros rótulos,
         ainda na fase caseira, começaram a dar cara as cervejas. O estilos sempre tiveram boa aceitação da galera e foi ai que eles decidiram,
          em 2017, oficializar a marca e produzir de forma cigana na cervejaria Capunga.</p>
        </div>
    </div>
    <div class="parallax2">
    
    </div>
    <div class="container-fluid mx-0">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fname">Fist Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="First Name">
                </div>
                
                <div class="form-group col-md-6">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" placeholder="Last Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                
            
            <div class="form-group col-12">

                    <label for="exampleFormControlTextarea1">Let's talk!</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
           
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
    </div>
    <footer class="page-footer font-small purple pt-4">

  <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
         <div class="col-md-4 col-sm-4 col-xs-12">

            <!-- Content -->
            <h5 class="text-uppercase">Footer Content</h5>
            <p>Here you can use rows and columns to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 col-sm-4 col-xs-12 footer-social">

        <!-- Links -->
            

            <h3>Follow me</h3>
                <p>Keep following in order to get updated on our social media. We are uploading one video a week about different programmes</p>
                <a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/vanzraket" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ivanrayfitness/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
     <div class="col-md-4 col-sm-4 col-xs-12">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright m-auto py-3">
        @2020 Paulo Albuquerque Copyright
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}