{% extends 'base.html' %}
{% block content %}


    <!-- Image for main page with -->
    <div class="container-fluid landing">
        <img src="../static/images/beer2.jpg" class="img" alt="landing image">
        <div class="text-block">
            <h4>Manguezal Club</h4>
            <p>we are proud to offer meetings and experiences</p>
            
            
            <a class="btn btn-primary" href="/addreview">Share experience</a>
        </div>
    </div>

    <!-- Section with the ingredients -->
    <div class="row ingr mb-0">
        <div class="col-md-4 col-sm-6 col-xs-12 ingredients">
            
            <h2 class="font-weight-bold mt-4">Grain</h2>
            <p>Selected grains mostly malted barley but also other grains on the composition.</p>
            <img src="../static/images/grain.jpg" class="imagens" alt="Grain ingredient">
            
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ingredients">
            <h2 class="font-weight-bold mt-4">Hops</h2>
            <p>Grown in many different varieties chosen by our specialists.</p>
            <img src="../static/images/hops.jpg" class="imagens" alt="hops ingredient">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ingredients">

            <h2 class="font-weight-bold mt-4">Yeast</h2>
            <p>Responsible for fermentation, they were chosen with based on the high quality and style-specific strains.</p>
            <img src="../static/images/yeast.jpg" class="imagens" alt="yeast ingredient">
        </div>
    </div>
    <div class="parallax intersection">
    
    </div>

   <!-- Section about the company -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">About</h1>
            <p class="lead">
                The Mangrove ("Manguezal" in portuguese) is a transition ecosystem between terrestrial and marine environments, famous for its muddy character 
                and plants with exposed and crooked roots. Due to its aspect, the importance of its biodiversity has been ignored 
                for years and cities like Recife have not thought twice about grounding their mangroves to build houses and buildings 
                over the years. Over time, this perspective has changed and today mangroves are protected by law and even serve as 
                inspiration for cultural movements, such as the Mangue Beat headed by the late Chico Science. 
                This ecosystem also served as inspiration for a brewery in Pernambuco (Brazil), Manguezal.<br/>
                            
            <br/>
                In mid-2014, partners Gabriel Suassuna, Lucas Sampaio, Roberto Moretti and Eduardo Antunes were producing beer in Olinda, 
                located in Greater Recife, for their own consumption and were already thinking of a name that had something to do with the 
                region's culture. They organized meetings with friends in a house located in the Apipucos neighborhood (quite surrounded by 
                mangroves), in Recife, to drink homemade beer, eat good food and make small talk. In the meantime, the idea of ​​naming the brewery
                Manguezal came up, and the first labels, still in the home phase, started to give the beers a face. The styles have always been 
                well accepted by the crowd and that's when they decided, in 2017, to
                make the brand official and produce in a gypsy way at the Capunga brewery.</p>
        </div>
    </div>

    <!-- Parallax visual effect -->
    <div class="parallax2">
    
    </div>
    <!-- Form to get in contact with the company -->
    <div class="container-fluid  contactcol-lg-6 col-sm-12 p-3">
        <form class="contact col-xs-12 col-sm-12 col-md-6 col-lg-5 ">
             <div class="form-row">
                <div class="form-group col-12 col-md-12">
                    <label for="fname">Fist Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="First Name">
                </div>
                
                <div class="form-group col-12 col-md-12">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" placeholder="Last Name">
                </div>
                <div class="form-group col-12 col-md-12">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-12">

                        <label for="exampleFormControlTextarea1">Let's talk!</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
           
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    


{% endblock %}