<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Home Page</h1>
    <nav>
        <li><a href="/">Home</a></li> <!--Posso substituir por {{ url_for('index')}}-->
        <li><a href="/about">About</a></li><!--Posso substituir por {{ url_for('about')}}-->
        <li><a href="/contact">Contact</a></li><!--Posso substituir por {{ url_for('contact')}}-->

    </nav>
    
</body>
</html>