{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Review das Cervejas Manguezal</h1>
    {% for manguezalclub in manguezalclub %}
    <div class="jumbotron p-5 m-5">
        <h3 class="display-5">{{manguezalclub.name}} - {{manguezalclub.date}}</h3>
            <p class="lead font-weight-normal font-italic">{{manguezalclub.review}}</p>
        <hr class="my-4">
        
        <p class="lead">
            <a class="btn btn-primary btn-small" href="#" role="button">Take it out</a>
            <a class="btn btn-primary btn-small" href="#" role="button">Edit</a>
        </p>
    </div>
    {% endfor %}

<ul class="collapsible">
	
	
	
	
</ul>



{% endblock %}
