{% extends 'base.html' %}
{% block content %}
<h1>Review das Cervejas Manguezal</h1>



<ul class="collapsible">
	{% for manguezalclub in manguezalclub %}
	<li>
		<div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">expand_more</i>
                <a  class="waves-effect waves-light btn-small">Done</a>
                <a href="{{url_for ('edit_review', review_id=review._id)}}" class="waves-effect waves-light btn-small">Edit</a>
            </div>
            <div class="col s3 task_header">
                <i class="material-icons">filter_drama</i>{{manguezalclub.name}} - {{manguezalclub.date}}
            </div>
            
        </div>
		<div class="collapsible-body">
            <span>  
                {{manguezalclub.review}}
            </span>
        </div>
	</li>
	{% endfor %}
	
</ul>



{% endblock %}
